html {
  font-size: 100%;
}

body {
  font-family: 'HelveticaNeue-Roman';
  font-weight: 500;
  font-style: normal;
  color: #6d6d70;
  line-height: 1.7rem;
}

h1 {
  font-family: 'HelveticaNeue-Medium';
  font-size: 3rem;
  letter-spacing: 0.03rem;
}

h2 {
  font-family: 'HelveticaNeue-Roman';
  line-height: 1.5;
  font-size: 2.3rem;
  letter-spacing: 0.03rem;
}

h3 {
  font-family: 'HelveticaNeue-Roman';
  line-height: 1;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

p {
  font-family: 'HelveticaNeue-Roman';
  font-size: 1.4rem;
}

a {
  color: #6d6d70;
}

a:hover {
  color: #e59b1a;
}

.leftAlign {
  text-align: left !important;
}

.rightAlign {
  text-align: right !important;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #e59b1a;
}

.noLeftPadding {
  padding-left: 0 !important;
}

.noRightPadding {
  padding-right: 0 !important;
}

.noLeftMargin {
  margin-left: 0;
}

.noRightMargin {
  margin-left: 0;
}

.smallInput {
  width: 260px;
}

.noMarginBottom {
  margin-bottom: 0 !important;
}

.smallMarginBottom {
  margin-bottom: 0.5em !important;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.firstLetter {
  text-transform: capitalize;
}

.zerobreak {
  height: 0px;
}

.smallbreak {
  height: 0.6rem;
}

.mediumbreak {
  height: 1.2rem;
}

.largebreak {
  height: 1.8rem;
}

.needsDisplayHidden {
  display: none;
}

.needsDisplayDefault {
  display: flex;
}


.form-H2 {
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 0em;
  padding-left: 0;
  border-bottom: 2px solid #e59b1a;
  font-size: 1.6em;
  width: 100%;
}

@media (min-width: 992px) {

  h1 {
    font-size: 4rem;
  }

  .containerContent {
    margin: 0 auto;
    max-width: 1220px;
    padding-left: 1.2em;
    padding-right: 1.2em;
  }

  .desktopNav {
    visibility: visible;
  }

  .mobileNav {
    visibility: hidden;
    height: 0px;
  }

  .banner {
    height: 600px;
  }

  .bannerSecondary {
    height: 400px;
  }

  .carousel-item-button {
    visibility: hidden;
    height: 0px;
  }

  .carousel-wrapper {
    height: 600px;
  }

  .carousel-wrapper-secondary {
    height: 400px;
  }

  .carousel-title {
    width: 730px !important;
    max-width: 730px !important;
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    height: 300px;
    box-sizing: unset;
    line-height: 100px;
    top: 50%;
    transform: translate(0, -50%);
    display: table;
  }

  .carousel-title-secondary {
    width: 900px;
    padding-left: 0;
    padding-right: 0;
    max-width: 900px;
  }

  .carousel-title-secondary>h1 {
    
    font-size: 3.5rem;
  }

  .banner-text-align {

    text-align: left !important;

  }

  .formPadding {

    width: 64%;
    margin-left: auto;
    margin-right: auto;

  }

  form label {
    text-align: right;
    padding-right: 1em;
  }

  .formCenterContent label {
    text-align: right;

  }

  .largebreakDesktop {
    display: inherit;
  }

  .carousel-wrapper {
    width: 1140px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 1205px) {
  .carousel-wrapper {
    width: 1140px;
    left: 30px;
    transform: translate(0, 0);
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 2.5rem;
  }

  .mobileNav {
    visibility: visible;
  }

  .desktopNav {
    visibility: hidden;
    height: 0px;
  }

  .banner {
    height: 400px;
  }

  .banner-text-align {

    text-align: center;

  }

  .bannerSecondary {
    height: 250px;
  }

  .carousel-item-button {
    visibility: visible;
  }


  .carousel-title {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    position: relative;
    height: 250px;
    line-height: 100px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: table;
  }

  .carousel-title-secondary {
    width: 300px;
    padding-right: 0;
    padding-left: 0;
  }

  .carousel-title-secondary>h1 {
    word-wrap: break-word;
    font-size: 3rem;
  }

  .carousel-wrapper {
    height: 340px;
    left: 0;
  }

  .carousel-wrapper-secondary {
    height: 250px;
  }

  .largebreakDesktop {
    display: none;
  }

  .formPadding {

    width: auto;
    margin-left: 2em;
    margin-right: 2em;

  }

  form label {
    text-align: left;
  }

  .formCenterContent label {
    text-align: left;
  }

  .navbar {
    /* padding-left: 0; */
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1em;
  }

  .carousel-wrapper {
    width: 100%;
  }
}


@media (max-width: 991px) {

  .carousel-title {
    padding-left: 10%;
    padding-right: 10%;
  }

}




.hideOverflow {
  overflow-x: hidden;
}

/* Bootstrap overrides*/

.bg-light {
  background-color: #ffffff !important;
}



.nav-link-right-separated::after {
  color: #e59b1a;
  content: '/';
  font-size: 1rem;
  position: relative;
  padding-left: 1em;
}

.nav-link:hover {
  color: #e59b1a !important;
}



.navbar-light .navbar-nav .show>.nav-link {
  color: #e59b1a;
}

.dropdown-item {
  color: #6d6d70;
}

.dropdown-item:hover {
  color: #6d6d70 !important;
}

.dropdown-item:focus,
.dropdown-item:active {
  outline: none !important;
  background-color: #e59b1a;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none;
}


.mobileNav .active .nav-link {
  color: #e59b1a !important;
}

.mobileNav .dropdown-toggle {
  outline: none !important;
  box-shadow: none;
}

.btn-primary {

  background-color: #e59b1a !important;
  border-color: #e59b1a !important;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:checked {
  outline: none !important;
  box-shadow: none !important;
}


.btn:focus,
.btn:active,
.btn.active.focus,
.btn.active:focus {
  outline: none !important;
  background-color: #e59b1a;
  border-color: #e59b1a;
  box-shadow: none !important;
}


.btn-primary:hover {

  background-color: #6d6d70 !important;
  border-color: #6d6d70 !important;
}


.carousel-inner {
  position: relative;
}


.carousel-item-button {
  position: absolute;
  top: 375px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
}

.carousel-item-button a {
  color: #ffffff;
}

.form-group {

  margin-bottom: 1.3em;
}


.form-group label {
  color: #6d6d70;
  font-size: 0.8rem !important;
}

.form-check-label {
  color: #6d6d70;
  font-size: 0.8rem !important;
}

.form-check-label.leftAlign.leftAlignMargin {
  margin-left: 3em;
}


.formAnchor {
  font-size: 0.8rem !important;
}

.form-check.left-check {
  display: flex;

}

.form-check.right-radio {
  padding-left: 20px;

}

.right-radio label {
  padding-left: 15px;
}

.right-radio .smallInput {
  margin-left: 15px;
}

.form-control-file {
  font-size: 0.8rem !important;
  padding-left: 0;
}

@media (max-width: 767px) {
  .left-check .form-check-input {
    left: 0;
    margin-left: 0px;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .left-check .form-check-input {
    right: 0;
    margin-left: 0px;
    margin-right: 25px;
  }
}


.left-check .form-check-label {

  padding-left: 0px;

}

.formCenterContent {
  display: flex;
  align-items: center;
  height: 30px;
}

.formCenterContentCheck {
  height: 30px;
  display: flex;
  width: 100%;
}

.formCenterContent label {
  margin-bottom: 0 !important;
  width: 100%;
}

.form-control {
  font-size: 0.7rem;
  font-family: "HelveticaNeue-Roman";
  line-height: 2;
  color: #6d6d70 !important;
  letter-spacing: 0.04rem;
  background-color: #fff !important;
}


.form-check-label {
  margin-left: 0em;
}

.form-check {
  padding-left: 0;
  height: 30px;
  margin-bottom: 1em;
}

.invalid-feedback {
  text-align: right;
}

.invalid-feedback-radio {
  display: none;
  width: 200px;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
  text-align: left;
  max-width: 300%;
  padding-left: 0;
}



@media (max-width: 767px) {
  .invalid-feedback-conditions {
    text-align: left;
    max-width: unset;
    margin-left: 25px;
    width: 320px;
  }

}

@media (min-width: 768px) {
  .invalid-feedback-conditions {

    max-width: 200%;
    margin-left: 160px;
  }
}



.form-group.boolCheck.needsSmallMargin.was-validated {
  margin-bottom: 1.5em;
}

.form-group.boolCheck.needsSmallMargin {
  margin-bottom: 0.5em;
}


.was-validated :invalid~.invalid-feedback-radio {
  display: flex;
}





/* Custom CSS */

.nav-title {
  color: #9a9a9a;
  font-size: 0.9rem;
  margin-bottom: 0.25em;
}



.navbar-top {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}


.desktopNav .brandLogo {
  height: 72px;
  width: 317px;
}

.mobileNav .brandLogo {
  height: 52px;
  width: 228px;
}



.top-infobar {
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  flex-direction: row;
  flex-basis: auto;
  flex-wrap: nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}


.phoneIcon {
  background-image: url('../images/phone.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-y: center;
  padding-left: 30px;
  display: block;
}

.mailIcon {
  background-image: url('../images/mail.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-y: center;
  padding-left: 30px;
  display: block;
}

.notificationIcon {
  background-image: url('../images/notification.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-y: center;
  padding-left: 30px;
  display: block;
}

.notificationIconLight {
  background-image: url('../images/notificationLight.png');
  background-repeat: no-repeat;
  background-size: 22px, 15px;
  background-position-y: center;
  padding-left: 30px;
  display: block;
}



.nav-secondary {
  background-color: #e59b1a;
  /* background-color: #7f7f7f; */
}

.nav-secondary .nav-link {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'HelveticaNeue-Medium';
  font-size: 1.2rem;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

.nav-secondary .nav-link:hover {
  color: #ffffff !important;
}

.nav-secondary .activeBorder {
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 1);
  border-bottom-width: 2.5px;
}

.nav-secondary .active {
  color: rgba(255, 255, 255, 1);
}

.nav .home {
  margin-right: 10px;
}

.homeIcon {
  width: 25px;
  height: 25px;
  opacity: 0.8;
}

.active .homeIcon {
  opacity: 1;
}



.banner.banner1 {
  background-image: url(../images/slide1.jpg);
}

.banner.banner2 {
  background-image: url(../images/slide2.jpg);
}

.banner.banner3 {
  background-image: url(../images/slide3.jpg);
}

.banner.banner4 {
  background-image: url(../images/slide4.jpg);
}

.banner.bannerRepair {
  background-image: url(../images/slideRepair.jpg);
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: auto;
  position: relative;
  left: 0px;
  top: 0px;
}

.carousel-wrapper {
  position: absolute;
  top: 0;
}

.carousel-wrapper-secondary {
  position: absolute;
  width: 100%;
  top: 0;
}




.carousel-title-secondary {
  
  position: relative;
  height: 200px;
  line-height: 100px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: table;
}

.carousel-title>h1 {
  color: rgba(255, 255, 255, 0.94);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 !important;
  display: table-cell;
  vertical-align: middle;
}

.carousel-title-secondary>h1 {
  color: rgba(255, 255, 255, 0.94);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 !important;
  display: table-cell;
  vertical-align: middle;
}

#form2 {
  display: none;
}

form .col-1 {
  padding-left: 0;
  padding-right: 0;
}


form .col-sm-12.normalPadding {
  padding-left: 20px !important;
}



@media (max-width: 392px) {
  .smallLineHeight {
    line-height: 1rem;
  }
}

@media (min-width: 393px) {
  .smallLineHeight {
    line-height: 1.7rem;
  }
}

@media (max-width: 423px) {
  .smallLineHeight2 {
    line-height: 1rem;


  }

  .invalid-feedback-conditions2 {
    margin-top: 15px;
  }
}

@media (min-width: 424px) {
  .smallLineHeight2 {
    line-height: 1.7rem;

  }

  .invalid-feedback-conditions2 {
    margin-top: 7px;
  }
}

@media (min-width: 405px) {
  .smallLineHeight3 {
    line-height: 1.7rem;

  }

  .invalid-feedback-conditions3 {
    margin-top: 7px;
  }
}

@media (max-width: 404px) {
  .smallLineHeight3 {
    line-height: 1rem;

  }

  .invalid-feedback-conditions3 {
    margin-top: 15px;
  }
}

@media (min-width: 473px) {
  .smallLineHeight4 {
    line-height: 1.7rem;
  }
}

@media (max-width: 472px) {
  .smallLineHeight4 {
    line-height: 1rem;
  }
}

@media (min-width: 497px) {
  .smallLineHeight5 {
    line-height: 1.7rem;
  }
}

@media (max-width: 496px) {
  .smallLineHeight5 {
    line-height: 1rem;
  }
}


.carousel-wrapper-secondary {
  width: 1140px;
  left: 50%;
  transform: translate(-50%, 0);
}